<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header><i class="bx bx-left-arrow-alt"></i>Weather API</header>
        <section class="input-part">
            <p class="info-txt"> Por favor, digite um nome de cidade válido.</p>
            <input type="text" placeholder="Digite o nome da cidade" spellcheck="false" name="" id="" required>
            <div class="separator"></div>
            <button> Get device location</button>
        </section>
        <section class="weather-part">
            <img src="/public/assets/clear.svg" alt="">
            <div class="temp">
                <span class="numb">13</span>
                <span class="deg">°</span>C
            </div>
            <div class="weather">Clear Numbs</div>
            <div class="location">
                <i class="bx bx-map"></i>
                <span>São Paulo, Brasil</span>
            </div>
            <div class="bottom-details">
                <div class="column feels">
                    <i class="bx bxs-thermometer"></i>
                    <div class="details">
                        <div class="temp">
                            <span class="numb-2">17</span>
                            <span class="deg">°</span>C
                        </div>
                        <p>Fells like</p>
                    </div>
                </div>
                <div class="column humidity">
                    <i class="bx bxs-droplet-half"></i>
                    <div class="details">
                        <span>84%</span>
                        <p>Humidity</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <script src="/js/index.js"></script>
</body>
</html>